
	<div class="container">
		<div class="well">
        <form id="userlist">
		<legend>Welcome</legend>
		<div class="span2 pull-right">
        <a ng-click="callService()">Add Task</a>
        </div>
s		
		<div class="control-group">
	      <table class="table table-strippd table-bordered table-hover table-collapsed">
	      <th>
	      	<tr>Task</tr>
	      	<tr>Priority</tr>
	      	<tr>Due Date</tr>
	      	<tr>Edit</tr>
	      	<tr>Delete</tr>
	      </th>
	      <tbody>
	      	<tr ng-repeat="item in listData.data">
	      		<td>{{item.task}}</td>
	      		<td>{{item.priority}}</td>
	      		<td>{{item.duedate}}</td>
	      		<td><button type="submit">Edit</button></td>
	      		<td><button type="submit" ng-click="deleteTask(item.task)">Delete</button></td>
	      	</tr>
	      </tbody>
        </table> 
		</div>
	  </form>
		</div>
</div>
